{% extends 'master' %}


{% block content %}
<div class="body">
<div class="container">
    <div class="row">

	<div class="container-fluid">


<div class="well shallow-well">
	<span class="filter-link-list">
		Role Access Management of {{person.name}}
	</span>
</div>

<ul class="nav nav-tabs">
    <li><a href="/userManagement/index/2"><< Back</a></li>
    <li class="active"><a href="/userManagement/addNew/">Editing user {{user.username}}</a></li>
</ul>
<br>

{% if error!=null %}
<div class="alert alert-danger">
  <div class="__banner">
    <div class="banner__inner">
      <h1>{{error}}</h1>
      <p> Something bad happened! <a href="{{link}}">Go Back</a> </p>
    </div>
  </div>
  </div>

{%else%}

                    <form class="form-horizontal" role="form" method="POST" action="/userManagement/edit/{{user.id}}">

                       
                        {{ csrfField }}
                       


                        <div class="form-group">
                            <label for="username" class="col-md-4 control-label">Username</label>

                            <div class="col-md-6">
                                <input id="username" type="text" class="form-control" name="username" required value={{user.username}} >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">New Password</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" name="password">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">Confirm Password</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" name="password2">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="displayname" class="col-md-4 control-label">Display Name</label>

                            <div class="col-md-6">
                                <input id="displayname" type="text" class="form-control" name="displayname" required
                                value={{user.display_name}} >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="username" class="col-md-4 control-label">Email</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" name="email" required
                                value={{user.email}} >
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-user"></i> Save
                                </button>
                            </div>
                        </div>


		        {% if error %}
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
								<div class="alert alert-warning">
								  <strong>Error!</strong> {{ error }}
								</div>
			    			</div>
						</div>
				{% endif %}
                
                    </form>
{%endif%}
</div></div></div></div>
{% endblock %}
