{% extends 'master' %}


{% block content %}
<div class="body">
<div class="container">
    <div class="row">

	<div class="container-fluid">


<div class="well shallow-well">
	<span class="filter-link-list">
		Template List for Accreditation of {{info.title}}
	</span>
</div>

<ul class="nav nav-tabs">
	<li><a href="/accreditationManagement/"><< Back</a></li>
    <li ><a href="/accreditationManagement/info/{{id}}">Accreditation Info</a></li>
    <li class="active"><a href="#">Template List</a></li>
    <li {%if tab==1 %}class="active"{%endif%}><a href="/accreditationManagement/addTemplate/{{id}}"><span class="glyphicon glyphicon-plus-sign"></span> Create New Template</a></li>
</ul>
<br>

{% if error!=null %}
<div class="alert alert-danger">
  <div class="__banner">
    <div class="banner__inner">
      <h1>{{error}}</h1>
      <p> Something bad happened! <a href="{{link}}">Go Back</a> </p>
    </div>
  </div>
  </div>

{%else%}


<h3>Accreditation Template List of {{accreditation.title}} - S{{accreditation.level_id}}</h3>
{%if tab==0 or tab==null %}
<table id="tableView" class="table table-striped user-table">
    <thead><tr>
        <th>No</th>
        <th>Organization Level</th>
        <th>Description</th>
        <th></th>
    </tr></thead>
    <tbody>
        {% set i=1 %}
        {% if list==null %}
            <tr><td>Data Empty</tr>
        {%else%}
            {% for item in list %}
        
            <tr>
                {% set link='/accreditationManagement/templateStructure/'+item.id %}
                <td>{{i}}</td>
                <td><a href='{{link}}'>{{item.form}}</a></td>
                <td>{{item.description}}</td>
                <td><a href='{{link}}' class="label label-success">Manage</a> 
                <a href='/accreditationManagement/infoTemplate/{{item.id}}' class="label label-warning">Edit Info</a> 
                <a href='/accreditationManagement/deleteTemplate/{{item.id}}' class="label label-danger">Delete</a></td>
            </tr>
            {% set i=i+1 %}
            {% endfor %}
        {%endif%}
    </tbody>
    </table>
{% endif %}
{% endif %}

</div></div></div></div>
{% endblock %}
